            body {
                background-color: #999999;
                text-align: center;
                color: #fff;
                padding-top: 1em;
            }

            h2 {
                font-size: 5vmin;
            }

            * {
                color: #fff;
                text-decoration: none;
            }
